<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg1}}
        <p v-bind:title="msg2">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </p>
        <p v-if="seen">Now you see me</p>
        <div>
            <ol>
                <li v-for="todo in todos">{{ todo.text }}</li>
            </ol>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg1: 'Hello Vue!',
                msg2: 'You loaded this page on ' + new Date().toLocaleDateString(),
                seen: true,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        })
    </script>
</body>
</html>